h1{ text-shadow: 0px 0px 5px white;
color: DarkViolet; 
}


body { 
	background-color:LightCoral; 
	background-image:url("alger.jpg"), 
  linear-gradient(pink,white);
	height: 100%;
background-repeat: no-repeat;
background-position: center top;
}
p { font-family: 'Slabo 27px', serif; }

