h1, h2, h3, p, a, li {
    font-family: italic; 
    color: lightcoral; 
}

h1 {

}

li, p.clickable {
	cursor: pointer;
}

li .not-selected {
    
}

li .selected {
    text-decoration: underline; 
    color:mediumturquoise;

 ; 
}

li .correct {
	color: springgreen; 
 
}
li .incorrect {
	color:darkred;
}