h1, h2, h3, p, a, li {
    font-family: 'Oswald', sans-serif; ; 
    color: lightcoral; 
}

h1 {
font-family: 'Oswald', sans-serif;
}
.app { 
width: 70%;
max-width: 800px;
margin: auto;
 }

li, p.clickable {
	cursor: pointer;
}

li .not-selected {
    
}

li .selected {
    text-decoration: underline; 
    color:mediumturquoise;

 ; 
}

li .correct {
	color: springgreen; 
 
}
li .incorrect {
	color:darkred;
}